<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="domain" value=".retecert.postecert" />
    <add key="etcdEndpoint" value="https://datalogcoll.retecert.postecert:2379/v2/keys/" />
    <add key="wecomAddres" value="ws://localhost:9182" />
    <add key="getPdlContextEndpoint" value="https://localhost:9181/api/pdl/v1/contesto" />
    <add key="getRemotePrinters" value="https://localhost:9181/api/peri/v1/remotePrinter" />
    <add key="webSocketTimeOutSeconds" value="240" />
    <add key="etcdRemotePrintEnabled" value="/SDP/StampaRemota/#fraz_pdl/enable" />
    <add key="etcdRemotePrintPollingInterval" value="/SDP/StampaRemota/Polling/TimeInterval" />
	<add key="etcdPrinterName" value="/SDP/StampaRemota/#fraz_pdl/oda_stampante" />
    <add key="SleepTimeForTest" value="2000" />
	<add key="WebSocketWaitTime" value="3000" />
	<add key="MaxRetry" value="0" />
    <add key="RetryIntervalSeconds" value="30" />
    <add key="consumerService" value="https://sdpfe.rete.testposte/stampa-remota/print-consumer/api/v1/print/#fraz" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="DisableSSL" value="false" />
	<add key="FakePrinter" value="false" />
	<add key="w10RegisterKey_Fraz" value="HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\SWPOSTEITALIANE\PDL" />
	<add key="w10RegisterKey_Pdl" value="HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\SWPOSTEITALIANE\SPORTELLO" />
	<add key="w7RegisterKey_Fraz" value="HKEY_LOCAL_MACHINE\SOFTWARE\SWPOSTEITALIANE\PDL" />
	<add key="w7RegisterKey_Pdl" value="HKEY_LOCAL_MACHINE\SOFTWARE\SWPOSTEITALIANE\SPORTELLO" />
	<add key="RegisterKey_codUP" value="codUP" />
	<add key="RegisterKey_denUP" value="denUP" />
	<add key="RegisterKey_PDL" value="NUMPDL" />
	<add key="TimerSDP" value="120" />
	<add key="MaxRetrySDP" value="0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>